/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
  +Case Study of http://mudopodcast.pt/. My attempt to rebuild the homepage for educational purposes.

  Kelsey's declarations below:
  
   ========================================================================== */

   /* borderbox box-sizing fix below: apply a natural box layout model to all elements, but allowing components to change */
   html {
     box-sizing: border-box;
   }
   *, *:before, *:after {
     box-sizing: inherit;
   }
   html {
       background-color:  rgb(3, 40, 74);
       padding: 0;
       margin: 0;
   }
   html img {
       max-width: 100%;
   }
   body {
       color: #FFE600; 
       font-family: 'Lato', sans-serif;
    }
    h2, h3, h4, h5, .button, .label, h6, a, .paragraph-titles {
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        padding: 0;
        margin: 0;
    }
    em {
        text-decoration: line-through;
        font-style: normal;
    }
    ul {
        list-style-type: none;
    }
    a {
        text-decoration: none;
        border-bottom: solid 4px white;
    }
    a:hover {
        border-color: #FFE600;
    }
    .button {
        border: solid 4px #FFE600;
        padding: 5px 43px;
        display: inline-block;
        text-decoration: none;
        font-weight: 700;
        font-size: 1.1em;
    }
    .label {
        background: #FFE600;
        color: #03284A;
        font-size: .7em; 
        display: inline-block;
        font-weight: 700;
        padding: .5em;
    }
    .button:hover {
        background: #FFE600;
        color: #03284A;
    }
    h2 {
        font-size: 4em;
    }
    h3 {
        font-size: 2.5em;
    }
    h4, h5, h6 {
        color: white;
    }
    h5 {
        font-size: 1em;
    }
    h4 {
        font-size: 1.5em;
        font-family: 'Lato', sans-serif;
      
    }
    h6 {
        font-size: .7em;
    }
    .paragraph-titles {
        text-transform: none;
        font-size: 2.2em;
        font-weight: bold;
        line-height: 1.2;
        padding: 0 0 .4em 0;
    }
    p {
        font-family: 'Lato', sans-serif;
        font-size: 1.1em;
        font-weight: none;
        line-height: 1.3em;
    }
    
/* ==========================================================================
   Header: logo ; awards
   ========================================================================== */
    .award {
        position: fixed;
        display: block;
        right: 15px;
        top: 105px;
        width: 90px;
        z-index: 1000;
    }
    h1 {
        color: yellow;
        text-indent: -999px;
        display: block;
        position: absolute;
        margin: 0;
        padding: 0;
    }
    .logo {
        position: fixed;
        top: 15px;
        left: 10px;
        z-index: 1000;
        margin: 0;
        padding: 0;
    }
    .nav-icon-open {
        background: #ffe600;
    }
    .main-nav {
        position: fixed;
        right: 30px;
        top: 20px;
        margin: 0;
        padding: 0;
        z-index: 1000;
    }
/* ==========================================================================
   Section: "upcoming-episode"
   ========================================================================== */
   .upcoming-episode {
       background: rgba(0, 0, 0, 0) linear-gradient(rgb(21, 173, 194), rgb(3, 40, 74)) repeat scroll 0% 0%;
       width: 100%;
       height: 100vh;
       position: relative;
   }
   .jumbotron {
        position: relative;
        width: 75%;
        height: 67vh;
        left: 105px;
        top: 120px;
        z-index: 10;
        box-shadow: 0 16px 16px -5px rgba(0, 0, 0, 0.2);
    }
    .jumbotron-image {
        background-image: url("../img/people/meetup_pic_Andre-1920x1080.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        height: 67vh;
        position: absolute;
    } 

/* content over jumbotron-image------------------ */
    .jumbotron-content {
        position: relative;
        width: 100%;
        height: 67vh;
    }
    .jumbotron-content p.time-date {
       color: rgba(255, 255, 255, 0.7);
       font-size: 1.2em;
   }
   .content-a {
       position: absolute;
       top: 35px;
       left: 30px;
   }
   .content-b {
       position: absolute;
       bottom: 60px;
       left: 30px;
   }
   .content-a .label {
       margin: 1.3em 0 0 0;
   }
   .content-b h4 {
       padding: 10px 0 0 0;
       margin: 0;
   }
   .content-b .time-date {
       padding: 10px 0 30px 0;
       margin: 0;
   }
/* gradiant for "upcoming-episode"------------------ */
   .upcoming-episode-gradiant {
       background: linear-gradient(to bottom left, #E54B4B, #224FB4);
       height: 64vh;
       width: 67%;
       right: 105px;
       bottom: 30px;
       position: absolute;
       z-index: 0; 
   }
   .upcoming-episode-gradiant h6 {
       position: absolute;
       bottom: 20px;
       left: 30px;
   }
/* ==========================================================================
   Section: "spaces"
   ========================================================================== */
.spaces-container {
    position: relative;
}
.spaces-content {
    background: linear-gradient(to bottom right, #E54B4B, #FFE600);
    width: 52%;
    height: 65vh;
    position: relative;
    margin: 0 0 0 370px;
    padding: 60px 60px 60px 160px;
}
.spaces p {
    color: white;
}
.spaces p.paragraph-titles {
    color: #03284A;
}
.spaces h2{
    margin: .5em 0 90px 125px;
}
.spaces .button {
    color: #03284A;
    border-color: #03284A;
    margin: 1em 0 0 0;
}
.spaces .button:hover {
    background: #03284A;
    color: white;
}
.spaces-image {
    position: absolute;
    top: -60px;
    left: 160px;
    width: 30%;
}
.spaces-label .label {
    color: #03284A;
    background-color: #15ADC2;
    padding: .5em 1em 3em 1em;
    font-size: 1em;
}
.spaces-label {
    transform: rotate(270deg);
    height: 80px;
    width: 300px;
    position: absolute;
    top: 0;
    left: 15px;
    z-index: -5;
}

/* ==========================================================================
   Section: "bios"
   ========================================================================== */
.bio-container {
    position: relative;
}
.bio-content {
    background: linear-gradient(to bottom left, #6ACEA3, #15ADC2);
    width: 54%;
    height: 52vh;
    position: relative;
    margin: 0 0 0 125px;
    padding: 60px 160px 60px 60px;
}
.bio p {
    color: white;
}
.bio p.paragraph-titles {
    color: #03284A;
}
.bio h2{
    margin: .5em 0 .5em 125px;
}
.bio .button {
    color: #03284A;
    border-color: #03284A;
    margin: 1em 0 0 0;
}
.bio .button:hover {
    background: #03284A;
    color: white;
}
.bio-image {
    width: 30%;
    position: absolute;
    top: 30px;
    right: 125px;
}

/* ==========================================================================
Section: "Sponsers"
   ========================================================================== */
.sponsors {
    position: relative;
}
/*--Sponsors Gradiant--------------------*/
.sponsors-gradiant {
    width: 24%;
    height: 450px;
    background: linear-gradient(to bottom left, #E54B4B, #224FB4);
    position: absolute;
    top: 30px;
    right: 125px;
}
.sponsors-gradiant-content {
    text-align: left;
    padding: 2em 3em 2em 2em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.sponsors-gradiant-content p {
    color: white;
}
.sponsors-gradiant-content p.paragraph-titles {
    color: #FFE600;
}
/*--Sponsors logos and button--------------------*/

.sponsors-logos-container {
    background: white;
    width: 56%;
    height: 72vh;
    display: flex;
    flex-direction: column;
    padding: 30px 10% 60px 60px;
    margin: 0 0 0 125px;
}
.sponsors-logos-img {
    flex: 9;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px 10px;
    justify-content: center;
}
.sponsors-logos-img article.company {
    flex: 1 1 33.3%;
    max-width: 28%;
    margin: 5px;
    position: relative;
}
.sponsors-logos-img article.company img {
    width: 80%;
}
.sponsors-logos-img-overlay {
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
}
.sponsors-logos-img article.company:hover > .sponsors-logos-img-overlay {
    background: transparent;
}
.sponser-button {
    flex: 1;
    margin: 15px 0 0 0;
    padding: 15px 0;
}
.sponser-button .button {
    color: #03284A;
    border-color: #03284A;
}
.sponser-button .button:hover {
    color: white;
    background: #03284A;
}
/* ==========================================================================
Footer: "newsletter" section; bottom-nav/social media
========================================================================== */
/* newsletter section---------------------------------*/
.newsletter {
    background-image: url("../img/logos/pattern_yellow_blue.png");
    background-repeat: repeat;
    background-position: center center;
    width: 100%;
    height: 48vh;
    position: relative;
    color: #03284A;
}
.newsletter-content {
    background: white;
    border: solid 8px #03284A;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 75%;
    height: 70%;
    padding: 30px 0;
}
.newsletter-content p {
    font-size: 1.5em;
    padding: 0;
    margin: 10px 160px;
    line-height: 1.5em;
}
/* newsform styling------------------------*/
form {
    display: flex;
    width: 62%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #03284A;
}
.newsletter-type-email {
    flex: 3;
    border: none;
    margin: 4px;
    padding: .8em 2em;
}
.newsletter-submit {
    flex: 1;
    background: white;
    border: none;
    margin: 4px 4px 4px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}
.newsletter-submit:hover {
    background: #03284A;
    color: white;
}

/* bottom nav/social media---------------------------------*/
.bottom-nav {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100px;
    align-items: stretch;
}
.bottom-nav li {
    flex: 1;
    position: relative;
}
.bottom-nav li a {
    display: inline-block;
    padding: 0 0 10px 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
